[dev]
redis_network = "tcp"
redis_address = "127.0.0.1:6379"
redis_db = 2
[test]
redis_network = "tcp"
redis_address = "127.0.0.1:6379"
redis_db = 1
[prod]
redis_network = "tcp"
redis_address = "127.0.0.1:6379"
redis_db = 2
